@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}




/*custom css for the website here*/




.dyanmictext{
    background: #ffba73;
}


@keyframes flip {
    0% { transform: rotateX(0); opacity: 1; }
    50% { transform: rotateX(90deg); opacity: 0; }
    100% { transform: rotateX(0); opacity: 1; }
  }
  
  .word-flip {
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
    animation: flip 1s infinite;
  }
  

  .slideUp {
    animation: slideUp 10s ease-in-out infinite;
}

.gradient-text-accent {
    background-image: linear-gradient(-60deg, #cb8bcf, #825ef5, #1ea0e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slideUp:first-child {
    animation-delay: 0s;
}

.-translate-y-full {
    --tw-translate-y: -100%;
    transform: var(--tw-transform);
}
