@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}




/*custom css for the website here*/


.bg-orange-600 {
    background-color: #faad5e;
    font-family: 'circular';
}

.bg-orange-700{
    background-color: #d8914b;
    font-family: 'circular';
}

.text-orange-600 {
    color: #f0993e;
}


.dyanmictext{
    background: #ffba73;
}


@keyframes flip {
    0% { transform: rotateX(0); opacity: 1; }
    50% { transform: rotateX(90deg); opacity: 0; }
    100% { transform: rotateX(0); opacity: 1; }
  }
  
  .word-flip {
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
    animation: flip 1s infinite;
  }
  